include _header.jade
<div class="page_404">
	<div class="inner_page block_inner">
		<img src="files/404.svg" alt="">
		<div class="title_404">Вы попали <br>на несуществующую страницу</div>
		<div class="text_404">
			<p>К сожалению, запрашиваемая Вами страница не найдена. <br>  Вероятно, Вы указали несуществующий адрес, страница была удалена, перемещена или сейчас она временно недоступна!</p>
		</div>
		<a href="#" class="btn radius">На главную</a>
	</div>
</div>

include _footer.jade