</div>
</div> 
<footer class="footer">
<div class="block_inner">
	<div class="left_f">
		<div class="logo_foot">
			<picture><source srcset="files/logo2.svg" type="image/svg+xml"><img src="files/logo2.svg" alt=""></picture>
		</div>
		<div class="soc_block">
			<div class="name">Мы в соц сетях</div>
			<div class="inn">
				<a href="#">
					<picture><source srcset="files/facebook-logo.svg" type="image/svg+xml"><img src="files/facebook-logo.svg" alt=""></picture>
				</a>
				<a href="#">
					<picture><source srcset="files/instagram.svg" type="image/svg+xml"><img src="files/instagram.svg" alt=""></picture>
				</a>
				<a href="#">
					<picture><source srcset="files/youtube.svg" type="image/svg+xml"><img src="files/youtube.svg" alt=""></picture>
				</a>
				<a href="#">
					<picture><source srcset="files/vk.svg" type="image/svg+xml"><img src="files/vk.svg" alt=""></picture>
				</a>
				<a href="#">
					<picture><source srcset="files/odnoklassniki-logo.svg" type="image/svg+xml"><img src="files/odnoklassniki-logo.svg" alt=""></picture>
				</a>
				<a href="#">
					<picture><source srcset="files/tw.svg" type="image/svg+xml"><img src="files/tw.svg" alt=""></picture>
				</a>
			</div>
		</div>
	</div>
	<div class="menu_footer">
		<ul>
			<li><a href="#">О нас</a></li>
			<li><a href="#">Реквизиты</a></li>
			<li><a href="#">Сертификаты</a></li>
			<li><a href="#">Блог</a></li>
			<li><a href="#">Доставка</a></li>
			<li><a href="#">Оплата</a></li>
			<li><a href="#">Прямая связь с директором</a></li>
		</ul>
	</div>
	<div class="contacs">
		<div class="phone"><a href="+7 (495) 223 70 05">+7 (495) 223 70 05</a><span>, доб .14</span></div>
		<div class="time">ПН-ПТ с 10:00 до 18:00 </div>
		<div class="text">Информационная линия поддержки NOMI Сosmetics</div>
		<div class="email"><a href="mailto:nomicosmetics@mail.ru">nomicosmetics@mail.ru</a></div>
		<a href="#" class="btn radius btn_code">Оставить заявку</a>
	</div>
	<div class="right">
		<div class="title">ДИСТРИБЬЮТОР ПО МОСКВЕ И МО: </div>
		<div class="text">ЭВА ( Группа компаний ROYA) </div>
		<div class="phone">+7 (499) 110 88 72, 8(800)500 65 27</div>
		<div class="body">NOMI Сosmetics. Все права защищены. Материалы сайта являются интеллектуальной собственностью ООО "Компания Брэнд Селект". Копирование материалов без письменного разрешения администрации запрещено.</div>
		<div class="copy">Разработка - Digital-агентство <a href="#">WebReforma.ru</a></div>
	</div>
</div>
</footer>
<div class="buy-popup-wrapper">
	<div class="buyExtraWrapper">
		<div class="buy-b">товар добавлен  в козину</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper code_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">ОСТАВИТЬ ЗАЯВКУ</div>
				<div class="field">
					<input type="text" required>
					<span class="name_field">Имя</span>
				</div>
				<div class="field">
					<input type="text" required>
					<span class="name_field">E-mail</span>
				</div>
				<div class="field">
					<input type="text" required>
					<span class="name_field">Телефон*</span>
				</div>
				<div class="field">
					<textarea name="comment" cols="30" rows="10"></textarea>
					<span class="name_field">Сообщение</span>
				</div>
				<button class="btn radius">Отправить</button>
			</form>     
			<div class="succes_form">
				<div class="title">Спасибо!</div>
				<div class="text">Мы свяжемся с вами в самое ближайшее время!</div>
				<button class="btn radius close_f">ОК</button>
			</div>    
		</div>
		<div class="close-form close_f"><span></span></div>
	</div>
</div>
<div class="police-popup-wrapper">
	<div class="policeExtraWrapper">
		<div class="police-b">
			<div class="title">Политика конфиденциальности</div>
			<div class="text">
				<p>Добро пожаловать на сайт детской косметики NOMI! <br><br>Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту.Выбрали самых хороших производителей косметики и лаков для ногтей, которые разработали безопасные формулы для девочек.  И украсили всю нашу продукцию розочками, сделанными вручную, специально для Вас. Мы бережно и с любовью создали нашу коллекцию И очень рады, что наши  маленькие покупательницы и их мамы оценили нашу работу. Спасибо Вам.   </p>
				<h3>Заголовок Н3</h3>
				<ul>
					<li>Мы вынуждены отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям.</li>
					<li>Внезапно, сделанные на базе интернет-аналитики выводы могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. </li>
					<li>Предварительные выводы неутешительны: существующая теория однозначно фиксирует необходимость инновационных методов управления процессами.</li>
				</ul>
			</div>
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="link_top"></div>
<script src="js/main.js" async></script>
</body>
</html>