<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script> -->
	<script src="js/jquery.min.js"></script>
</head>
<body class="m_bg">
<nav class="menu_burger">
	<div class="menu_scroll">

	</div>
</nav> 
<div class="cart_mini_popup">
	<div class="close_cart"></div>
	<div class="title">Корзина</div>	
	<div class="cart_items">			
		<div class="inner">
			<div class="item_c">
				<div class="delete"></div>
				<div class="image">
					<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="85" height="89" alt=""></picture>
				</div>
				<div class="right">
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="amount_prod">
						<button class="minus">-</button>
						<input type="text" value="1">
						<button class="plus">+</button>
					</div>
				</div>
			</div>
			<div class="item_c">
				<div class="delete"></div>
				<div class="image">
					<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="85" height="89" alt=""></picture>
				</div>
				<div class="right">
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="amount_prod">
						<button class="minus">-</button>
						<input type="text" value="1">
						<button class="plus">+</button>
					</div>
				</div>
			</div>
			<div class="item_c">
				<div class="delete"></div>
				<div class="image">
					<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="85" height="89" alt=""></picture>
				</div>
				<div class="right">
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="amount_prod">
						<button class="minus">-</button>
						<input type="text" value="1">
						<button class="plus">+</button>
					</div>
				</div>
			</div>
			<div class="item_c">
				<div class="delete"></div>
				<div class="image">
					<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="85" height="89" alt=""></picture>
				</div>
				<div class="right">
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="amount_prod">
						<button class="minus">-</button>
						<input type="text" value="1">
						<button class="plus">+</button>
					</div>
				</div>
			</div>
			<div class="item_c">
				<div class="delete"></div>
				<div class="image">
					<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="85" height="89" alt=""></picture>
				</div>
				<div class="right">
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="amount_prod">
						<button class="minus">-</button>
						<input type="text" value="1">
						<button class="plus">+</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="slider_main_page">
		<div class="block_inner">
			<div class="title">Вам также может понравиться</div>
			<div class="inner">
				<div class="slider_top">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="100" height="120" alt=""></picture>
							</a>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
						</div>
						<div class="btn btn_buy">в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="100" height="120" alt=""></picture>
							</a>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
						</div>
						<div class="btn btn_buy">в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="100" height="120" alt=""></picture>
							</a>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
						</div>
						<div class="btn btn_buy">в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="100" height="120" alt=""></picture>
							</a>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
						</div>
						<div class="btn btn_buy">в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cart_mini_total">
		<div class="total">34 567 ₽</div>
		<a href="#" class="link">Перейти в корзину</a>
		<button class="btn radius">Оформить заказ</button>
	</div>
</div>
<div class="site_wrapper" data-scroll>
<header role="banner" class="header inner_header_page"> 
	<div class="header_inner">
		<!-- <div class="header_bg">
			<div class="content__item-img">
				<picture><source srcset="files/image.jpg" type="image/svg+xml"><img src="files/image.jpg" alt=""></picture>
			</div>
		</div> -->
		<div class="block_inner">
			<div class="header_top">
				<div class="burger"><span></span></div>
				<div class="search">
					<div class="sear_btn"></div>
					<form action="#" class="search_block">
						<input type="text" placeholder="Поиск по сайту" class="sear_text">
						<input type="submit" class="search_btn">
					</form>
					<div class="search_popup">
						<ul>
							<li><a href="#">Текс поиска который введен в строке ... </a></li>
							<li><a href="#">Текст поиска</a></li>
							<li><a href="#">Еще текст поиска</a></li>
						</ul>
						<a href="#" class="link">Смотреть результат поиска</a>
					</div>
				</div>
				<div class="mini_cart">
					<div class="mini_c_btn">
						<div class="amount">0</div>
					</div>
				</div>
				<div class="login">
					<div class="login_btn"></div>
					<div class="logon_pop">
						<form action="#">
							<label class="login_f field">
								<input type="text" required>
								<span class="name_field">Логин</span>
							</label>
							<label class="pass_f field">
								<input type="password" required>
								<span class="name_field">Пароль</span>
							</label>
							<button class="btn radius">Войти</button>
							<div><a href="#" class="z_pass">Забыли пароль?</a></div>
							<a href="#">Зарегистрироваться</a>
						</form>
					</div>
				</div>
			</div>
			<div class="header_menu">
				<div class="menu left_m">
					<ul>
						<li>
							<a href="#">КАТАЛОГ</a>
							<ul>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c1.jpg" type="image/png"><img src="files/c1.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Лаки для ногтей</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c2.jpg" type="image/png"><img src="files/c2.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Лаки для ногтей на водной основе</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c3.jpg" type="image/png"><img src="files/c3.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Бальзамы для губ</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c4.jpg" type="image/png"><img src="files/c4.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Блески для губ</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c5.jpg" type="image/png"><img src="files/c5.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Бальзам-уход для губ </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c6.jpg" type="image/png"><img src="files/c6.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Beauty Box</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c7.jpg" type="image/png"><img src="files/c7.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Наборы детской косметики</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c8.jpg" type="image/png"><img src="files/c8.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Крем для рук</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c9.jpg" type="image/png"><img src="files/c9.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Крем для лица</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c10.jpg" type="image/png"><img src="files/c10.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Пудра с блестками</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c11.jpg" type="image/png"><img src="files/c11.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Румяна</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c12.jpg" type="image/png"><img src="files/c12.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Бальзам-гель </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c13.jpg" type="image/png"><img src="files/c13.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Тени для век</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c14.jpg" type="image/png"><img src="files/c14.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Gift box</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c15.jpg" type="image/png"><img src="files/c15.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Тубусы</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c16.jpg" type="image/png"><img src="files/c16.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Сумки и Ранцы</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c17.jpg" type="image/png"><img src="files/c17.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">Летние наборы</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="image">
											<picture><source srcset="files/c18.jpg" type="image/png"><img src="files/c18.jpg" width="270" height="155" alt=""></picture>
										</span>
										<span class="name">НОВИНКИ!</span>
									</a>
								</li>
							</ul>
						</li>
						<li><a href="#">ТОП ПРОДАЖ</a></li>
						<li><a href="#">ДОСТАВКА</a></li>
						<li><a href="#">ОПЛАТА</a></li>
					</ul>
				</div>
				<div class="logo"><a href="/"><img src="files/logo.svg" alt=""></a></div>
				<div class="menu right_m">
					<ul>
						<li><a href="#">ЗАКАЗ ОБРАЗЦОВ</a></li>
						<li><a href="#">КОНТАКТЫ</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Оптовикам</a></li>
					</ul>
				</div>
			</div>
			<!-- <div class="title_header">
				<span>КАЧЕСТВЕННАЯ  И БЕЗОПАСНАЯ <br> КОСМЕТИКА ДЛЯ ДЕВОЧЕК</span>
			</div>
			<div class="subtitle_header">производство Россия</div>
			<div class="heeader_btn">
				<a href="#" class="btn">Смотреть</a>
			</div> -->
		</div>
	</div>
</header>
<div class="content_block_wr">
	