include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="main_card_product">
	<div class="block_inner card_page">
		<div class="main_pic">
			<div class="main_pic_slider">
				<div class="slider-for">
					<div class="item"><a href="files/mm.png"><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="400" height="500" alt=""></picture></a></div>
					<div class="item"><a href="files/mm.png"><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="400" height="500" alt=""></picture></a></div>
					<div class="item"><a href="files/mm.png"><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="400" height="500" alt=""></picture></a></div>
					<div class="item"><a href="files/mm.png"><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="400" height="500" alt=""></picture></a></div>
					<div class="item"><a href="files/mm.png"><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="400" height="500" alt=""></picture></a></div>
				</div>
				<div class="slider-nav">
					<div class="item">
						<span><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="110" height="110" alt=""></picture></span>
					</div>
					<div class="item">
						<span><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="110" height="110" alt=""></picture></span>
					</div>
					<div class="item">
						<span><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="110" height="110" alt=""></picture></span>
					</div>
					<div class="item">
						<span><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="110" height="110" alt=""></picture></span>
					</div>
					<div class="item">
						<span><picture><source srcset="files/mm.png" type="image/svg+xml"><img src="files/mm.png" width="110" height="110" alt=""></picture></span>
					</div>
				</div>
			</div>
		</div>
		<div class="middle_card">
			<div class="name">Лак для ногтей №03 Сладкая клубника </div>
			<div class="labels">
				<div class="reating"><div class="reating_m"><div class="reating_in" style="width: 97.6px;"></div></div>4 / 5</div>
				<div class="label">
					<div class="sale">Скидка</div>
					<div class="rec">Рекомендуем</div>
					<div class="new">новинка</div>
				</div>
			</div>
			<div class="prices">
				<div class="price"><span>1 234</span> ₽</div>
				<div class="old_price">2 345 ₽</div>
			</div>
			<div class="btns">
				<div class="amount_prod">
					<button class="minus">-</button>
					<input type="text" value="1">
					<button class="plus">+</button>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="amount_text">Покупка от 12 шт. (1 упаковка)</div>
			<div class="options_card">
				<ul>
					<li>
						<div class="o_name">Артикул</div>
						<span></span>
						<div class="val">2345678</div>
					</li>
					<li>
						<div class="o_name">Вес</div>
						<span></span>
						<div class="val">456 гр</div>
					</li>
					<li>
						<div class="o_name">Объем</div>
						<span></span>
						<div class="val">0,5 мл</div>
					</li>
					<li>
						<div class="o_name">Длина упаковки</div>
						<span></span>
						<div class="val">5,6 см</div>
					</li>
					<li>
						<div class="o_name">Ширина упаковки</div>
						<span></span>
						<div class="val">5,6 см</div>
					</li>
					<li>
						<div class="o_name">Высота упаковки</div>
						<span></span>
						<div class="val">4.4 см</div>
					</li>
				</ul>
			</div>
			<div class="preims">
				<div class="item_p">
					<div class="icon">
						<picture><source srcset="files/pp1.svg" type="image/svg+xml"><img src="files/pp1.svg" width="52" height="52" alt=""></picture>
					</div>
					<div class="text"><strong>Доставляем по всей России.</strong> Стоимость доставки от 200 р , точная стоимость рассчитывается при оформлении заказа</div>
				</div>
				<div class="item_p">
					<div class="icon">
						<picture><source srcset="files/pp2.svg" type="image/svg+xml"><img src="files/pp2.svg" width="52" height="52" alt=""></picture>
					</div>
					<div class="text">Упаковано в подарочную коробоку</div>
				</div>
				<div class="item_p">
					<div class="icon">
						<picture><source srcset="files/pp3.svg" type="image/svg+xml"><img src="files/pp3.svg" width="52" height="52" alt=""></picture>
					</div>
					<div class="text">Натуральный состав</div>
				</div>
			</div>
			<div class="links">
				<a href="#" class="link">Получить консультацию</a>
				<a href="#" class="link_tg">Написать в телеграм</a>
			</div>
		</div>
	</div>
	<div class="block_inner">
		<div class="tabs_card">
			<ul class="tab_title">
				<li>
					<a href="#tab-1">Описание</a>
				</li>
				<li>
					<a href="#tab-2">Отзывы</a>
				</li>
				<li>
					<a href="#tab-3">Cостав</a>
				</li>
				<li>
					<a href="#tab-4">Cроки хранения</a>
				</li>
			</ul>
			<div class="tab_body" id="tab-1">
				<div class="text">Ясность нашей позиции очевидна: сложившаяся структура организации предоставляет широкие возможности для укрепления моральных ценностей. С другой стороны, граница обучения кадров, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. А также действия представителей оппозиции набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений.</div>
				<h2>Заголовок Н2</h2>
				<ul class="list_ul">
					<li>Мы вынуждены отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям.</li>
					<li>Внезапно, сделанные на базе интернет-аналитики выводы могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. </li>
					<li>Предварительные выводы неутешительны: существующая теория однозначно фиксирует необходимость инновационных методов управления процессами.</li>
				</ul>
			</div>
			<div class="tab_body" id="tab-2">
				<div class="review_block">
					<div class="review">
						<div class="left_r">
							<div class="name">Имя Фамилия</div>
							<div class="reating"><div class="reating_m"><div class="reating_in" style="width: 97.6px;"></div></div>4 / 5</div>
						</div>
						<div class="right_r">
							<p>Ясность нашей позиции очевидна: сложившаяся структура организации предоставляет широкие возможности для укрепления моральных ценностей. С другой стороны, граница обучения кадров, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. А также действия представителей оппозиции набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений.</p>
							<div class="images">
								<picture><source srcset="files/r2.png" type="image/svg+xml"><img src="files/r2.png" alt=""></picture>
								<picture><source srcset="files/r3.png" type="image/svg+xml"><img src="files/r3.png" alt=""></picture>
							</div>
						</div>							
					</div>
					<div class="review">
						<div class="left_r">
							<div class="name">Имя Фамилия</div>
							<div class="reating"><div class="reating_m"><div class="reating_in" style="width: 97.6px;"></div></div>4 / 5</div>
						</div>
						<div class="right_r">
							<p>Ясность нашей позиции очевидна: сложившаяся структура организации предоставляет широкие возможности для укрепления моральных ценностей. С другой стороны, граница обучения кадров, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества.</p>
						</div>							
					</div>
				</div>
				<div class="rev_bottom">
					<div class="reating"><div class="reating_m"><div class="reating_in" style="width: 97.6px;"></div></div>4 / 5</div>
					<ul class="page_number">
						<li>
							<a href="#" class="btn_page">Назад</a>
						</li>
						<li>
							<span>1</span>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li><div class="dotted">...</div></li>
						<li>
							<a href="#">15</a>
						</li>
						<li>
							<a href="#" class="btn_page">Вперед</a>
						</li>
					</ul>		
				</div>
				<div class="rev_btns">
					<a href="#" class="btn radius">Оставить отзыв</a>
					<div class="text_btn">ВЫ можете посмотреть отзывы на <a href="#">вайлбериз</a>, <a href="#">озон</a> и <a href="#">детский мир</a></div>
				</div>
			</div>
			<div class="tab_body" id="tab-3">
				<div class="text"><p>Ясность нашей позиции очевидна: сложившаяся структура организации предоставляет широкие возможности для укрепления моральных ценностей. С другой стороны, граница обучения кадров, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. А также действия представителей оппозиции набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений.</p></div>
				<div class="options_card">
					<ul>
						<li>
							<div class="o_name">Артикул</div>
							<span></span>
							<div class="val">2345678</div>
						</li>
						<li>
							<div class="o_name">Вес</div>
							<span></span>
							<div class="val">456 гр</div>
						</li>
						<li>
							<div class="o_name">Объем</div>
							<span></span>
							<div class="val">0,5 мл</div>
						</li>
						<li>
							<div class="o_name">Длина упаковки</div>
							<span></span>
							<div class="val">5,6 см</div>
						</li>
						<li>
							<div class="o_name">Ширина упаковки</div>
							<span></span>
							<div class="val">5,6 см</div>
						</li>
						<li>
							<div class="o_name">Высота упаковки</div>
							<span></span>
							<div class="val">4.4 см</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab_body" id="tab-4">
				<div class="text">Ясность нашей позиции очевидна: сложившаяся структура организации предоставляет широкие возможности для укрепления моральных ценностей. С другой стороны, граница обучения кадров, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. А также действия представителей оппозиции набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений.</div>
			</div>
		</div>
	</div>
</div>		
<div class="slider_main_page">
	<div class="block_inner">
		<div class="title">Вам также может понравиться</div>
		<div class="inner">
			<div class="slider_top">
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p2.png" type="image/svg+xml"><img src="files/p2.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="sale">Скидка</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
			</div>
		</div>
	</div>
</div>					
<div class="for_block_left2 y_bb">
	<div class="block_inner">
		<div class="left">
			<div class="icon">
				<picture><source srcset="files/ll2-ico.svg" type="image/svg+xml"><img src="files/ll2-ico.svg" alt=""></picture>
			</div>
			<div class="image">
				<img src="files/ggl.png" alt="">
			</div>
		</div>
		<div class="right">
			<div class="title">
				<div class="tit">Вы смотрели</div>
				<div class="nav_slider">
					<div class="arrow_s">
						<div class="prev"></div>
						<div class="next"></div>
					</div>
				</div>
			</div>
			<div class="inner">
				<div class="slider_y">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg1.png" type="image/svg+xml"><img src="files/lg1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		
include _footer.jade