include _header.jade

<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span>Корзина
</div>
<div class="cart_empty_page">
	<div class="inner_page block_inner">
		<h1>Корзина пока пуста</h1>
		<div class="cart_empty_page">
			<div class="text_empty">
				<div class="body_empty"><a href="#">Нажмите здесь,</a> <br>чтобы продолжить покупки </div>
			</div>
			<div class="icon">
				<img src="img/cart_emp.svg" alt="">
			</div>
		</div>	
	</div>
</div>
include _footer.jade