include _header.jade

<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span>Корзина
</div>
<div class="cart_page_wrap">
	<div class="inner_page block_inner">
		<h1>Корзина</h1>
		<div class="cart_inner_page">
			<div class="item_wr">
				<div class="item_main">
					<div class="delete"></div>
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p2.png" type="image/svg+xml"><img src="files/p2.png" width="129" height="123" alt=""></picture>
						</a>
					</div>
					<div class="middle">
						<div class="name_m"><a href="#">Лак для ногтей на водной основе NOMI №1 </a></div>
						<div class="pr_a">
							<div class="prices">
								<div class="price"><span>1 234</span> ₽</div>
								<div class="old_price">2 345 ₽</div>
							</div>
							<div class="amount_prod">
								<button class="minus">-</button>
								<input type="text" value="1">
								<button class="plus">+</button>
							</div>
						</div>
						<ul class="elem_options">
							<li>
								<div class="o_name">Артикул</div>
								<span></span>
								<div class="val">2345678</div>
							</li>
							<li>
								<div class="o_name">Вес</div>
								<span></span>
								<div class="val">456 гр</div>
							</li>
							<li>
								<div class="o_name">Объем</div>
								<span></span>
								<div class="val">0,5 мл</div>
							</li>
						</ul>
					</div>
					<div class="right">
						<div class="tot_sum_item">
							<span class="name_tot">Итого:</span> 
							<div class="prices">
								<div class="old_price">2 345 ₽</div>
								<div class="price"><span>1 234</span> ₽</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item_main">
					<div class="delete"></div>
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p2.png" type="image/svg+xml"><img src="files/p2.png" width="129" height="123" alt=""></picture>
						</a>
					</div>
					<div class="middle">
						<div class="name_m"><a href="#">Лак для ногтей на водной основе NOMI №1 </a></div>
						<div class="pr_a">
							<div class="prices">
								<div class="price"><span>1 234</span> ₽</div>
								<div class="old_price">2 345 ₽</div>
							</div>
							<div class="amount_prod">
								<button class="minus">-</button>
								<input type="text" value="1">
								<button class="plus">+</button>
							</div>
						</div>
						<ul class="elem_options">
							<li>
								<div class="o_name">Артикул</div>
								<span></span>
								<div class="val">2345678</div>
							</li>
							<li>
								<div class="o_name">Вес</div>
								<span></span>
								<div class="val">456 гр</div>
							</li>
							<li>
								<div class="o_name">Объем</div>
								<span></span>
								<div class="val">0,5 мл</div>
							</li>
						</ul>
					</div>
					<div class="right">
						<div class="tot_sum_item">
							<span class="name_tot">Итого:</span> 
							<div class="prices">
								<div class="old_price">2 345 ₽</div>
								<div class="price"><span>1 234</span> ₽</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart_totals">
				<div class="coupon_total_block">
					<div class="coupon_block">
						<form action="#">
							<div class="field">
								<input type="text" placeholder="Введите промокод">
							</div>
							<button class="btn_send"></button>
						</form>
					</div>
					
					<div class="right_cart_totals_inner">
						<ul>
							<li>
								<div class="t_title">Объем</div>
								<div class="tot_summ">367 гр</div>
							</li>
							<li>
								<div class="t_title">Вес</div>
								<div class="discon_summ">367 гр</div>
							</li>
							<li>
								<div class="t_title">Скидка</div>
								<div class="discon_summ">-234 ₽</div>
							</li>
							<li>
								<div class="t_title">К оплате</div>
								<div class="discon_summ"><strong>1 234 ₽</strong></div>
							</li>
						</ul>
					</div>
				</div>
				<div class="btn_right">
					<button class="btn">Оформить заказ</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="slider_main_page">
	<div class="block_inner">
		<div class="title">Вам также может понравиться</div>
		<div class="inner">
			<div class="slider_top2">
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p2.png" type="image/svg+xml"><img src="files/p2.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="sale">Скидка</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
			</div>
		</div>
	</div>
</div>					
<div class="for_block_left2 y_bb">
	<div class="block_inner">
		<div class="left">
			<div class="icon">
				<picture><source srcset="files/ll2-ico.svg" type="image/svg+xml"><img src="files/ll2-ico.svg" alt=""></picture>
			</div>
			<div class="image">
				<img src="files/ggl.png" alt="">
			</div>
		</div>
		<div class="right">
			<div class="title">
				<div class="tit">Вы смотрели</div>
				<div class="nav_slider">
					<div class="arrow_s">
						<div class="prev"></div>
						<div class="next"></div>
					</div>
				</div>
			</div>
			<div class="inner">
				<div class="slider_y">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg1.png" type="image/svg+xml"><img src="files/lg1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="form_site">
	<div class="block_inner">
		<div class="title">Для того, чтобы увидеть оптовые цены</div>
		<div class="subtitle">необхдоимо зарегистрироваться в качестве оптовика</div>
		<div class="inner">
			<form action="#">
				<label class="field email_ico">
					<input type="text">
					<span class="name_field">Ваша почта</span>
				</label>
				<button class="btn radius">Регистрация</button>
			</form>
		</div>
	</div>
</div>	
<div class="text_bottom_block">
	<div class="block_inner">
		<div class="title">SEO текст</div>
		<div class="body">Добро пожаловать на сайт детской косметики NOMI! <br> Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту.Выбрали самых хороших производителей косметики и лаков для ногтей, которые разработали безопасные формулы для девочек.  И украсили всю нашу продукцию розочками, сделанными вручную, специально для Вас. Мы бережно и с любовью создали нашу коллекцию И очень рады, что наши  маленькие покупательницы и их мамы оценили нашу работу. Спасибо Вам.</div>
	</div>
</div>	
include _footer.jade