include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="h1_title block_inner">
	<h1>Услуги</h1>
</div>
<div class="filter_block_wr">
	<form action="#" class="block_inner">
		<div class="filter_inner">
			<div class="field_filter f_checkbox">
				<div class="name_field">Категории</div>
				<div class="pop_field">
					<ul>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="field_filter f_prices">
				<div class="name_f">Цена</div>
				<input type="text" placeholder="10">
				<span> - </span>
				<input type="text" placeholder="1 000 000">
			</div>
			<div class="field_filter f_checkbox">
				<div class="name_field">Сезон</div>
				<div class="pop_field">
					<ul>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="field_filter f_sort">
				<div class="name_field">Сортировать по</div>
				<div class="pop_field">
					<ul>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox"> <span></span>Категория раздела
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="result_filter">
			<div class="ressulr_f">Категория раздела</div>
			<div class="ressulr_f">Категория раздела</div>
			<div class="ressulr_f">Название сезона</div>
			<input type="reset" class="clear" value="Очистить весь фильтр">
		</div>
	</form>
</div>		
<div class="products_wr">
	<div class="block_inner">
		<div class="inner_product">	
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="f_lots">
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
			</div>
			<div class="item_prod big_p">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/big.png" type="image/svg+xml"><img src="files/big.png" width="484" height="570" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
		</div>
		<div class="banner" style="background-image: url(files/bna.jpg);">
			<div class="title">БАННЕР</div>
		</div>
		<div class="inner_product">
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
		</div>
		<ul class="page_number">
			<li>
				<a href="#" class="btn_page">Назад</a>
			</li>
			<li>
				<span>1</span>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li><div class="dotted">...</div></li>
			<li>
				<a href="#">15</a>
			</li>
			<li>
				<a href="#" class="btn_page">Вперед</a>
			</li>
		</ul>									
	</div>
</div>	
<div class="for_block_left2">
	<div class="block_inner">
		<div class="left">
			<div class="icon">
				<picture><source srcset="files/ll2-ico.svg" type="image/svg+xml"><img src="files/ll2-ico.svg" alt=""></picture>
			</div>
			<div class="image">
				<img src="files/ggl.png" alt="">
			</div>
		</div>
		<div class="right">
			<div class="title">
				<div class="tit">Наборы</div>
				<a href="#" class="link">перейти в раздел</a>
			</div>
			<div class="inner">
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/lg1.png" type="image/svg+xml"><img src="files/lg1.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
				<div class="item_prod">
					<div class="image">
						<a href="#">
							<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
						</a>
					</div>
					<div class="labels">
						<div class="label">
							<div class="rec">Рекомендуем</div>
							<div class="new">новинка</div>
						</div>
						
						<div class="reating all">5 / 5</div>
					</div>
					<div class="name">
						<a href="#">Лак для ногтей №03 Сладкая клубника </a>
					</div>
					<div class="prices">
						<div class="price">1 234 ₽</div>
						<div class="old_price"><span>2 034  ₽</span></div>
					</div>
					<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="form_site">
	<div class="block_inner">
		<div class="title">Для того, чтобы увидеть оптовые цены</div>
		<div class="subtitle">необхдоимо зарегистрироваться в качестве оптовика</div>
		<div class="inner">
			<form action="#">
				<label class="field email_ico">
					<input type="text">
					<span class="name_field">Ваша почта</span>
				</label>
				<button class="btn radius">Регистрация</button>
			</form>
		</div>
	</div>
</div>	
<div class="text_bottom_block">
	<div class="block_inner">
		<div class="title">SEO текст</div>
		<div class="body">Добро пожаловать на сайт детской косметики NOMI! <br> Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту.Выбрали самых хороших производителей косметики и лаков для ногтей, которые разработали безопасные формулы для девочек.  И украсили всю нашу продукцию розочками, сделанными вручную, специально для Вас. Мы бережно и с любовью создали нашу коллекцию И очень рады, что наши  маленькие покупательницы и их мамы оценили нашу работу. Спасибо Вам.</div>
	</div>
</div>														
include _footer.jade