include _header.jade

<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span>Личный кабинет

</div>
<div class="lk_page_wrap">
	<div class="inner_page block_inner">
		<div class="lk_inner">
			<div class="lk_tabs">
				<ul class="lk_tab_title">
					<li>
						<a href="#tab-1">Профиль</a>
					</li>
					<li>
						<a href="#tab-2">Текущие заказы</a>
					</li>
					<li>
						<a href="#tab-3">История заказов</a>
					</li>
				</ul>
				<div class="lk_tab_body" id="tab-1">
					<form action="#">
						<div class="field_3">
							<div class="field">
								<input type="text" required>
								<span class="name_field">Название компании</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Имя Фамилия </span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">E-mail</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Телефон</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">ИНН</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Юридический адрес </span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Банк</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">КПП</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Расчетный счет</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">БИК</span>
							</div>
							<div class="field">
								<input type="text" required>
								<span class="name_field">Корреспондентский счет </span>
							</div>
						</div>
						<div class="btns">
							<button class="btn radius">Редактировать</button>
							<input type="submit" class="btn radius no_bg" value="Изменить пароль">
						</div>
					</form>
				</div>
				<div class="lk_tab_body" id="tab-2">
					<div class="order_status">
						<div class="name_status">Заказы в статусе <span class="yellow">Принят, ожидается оплата</span></div>
						<div class="order_item">
							<div class="name_order yellow"><strong>Заказ №4 от 22.04.2019,</strong> 1 товар на сумму 4 499 руб</div>
							<div class="param">
								<div class="name_param">оплата <span></span></div>
								<div class="param_val">Счет №4/1 от 22.04.2019, Наличные курьеру </div>
								<div class="no_pay">Не оплачено</div>
								<div class="param_val">Сумма к оплате по счету:    <strong>4 499 руб.</strong></div>
								<a href="#" class="link">Сменить способ оплаты</a>
							</div>	
							<div class="param">
								<div class="name_param">доставка <span></span></div>
								<ul>
									<li>Отгрузка №4/2 <span class="no_shipped">Не отгружено</span></li>
									<li>Статус отгрузки: <strong>Ожидает обработки</strong></li>
									<li>Служба доставки: <strong>Без доставки</strong> </li>
								</ul>
							</div>	
							<div class="order_item_bot">
								<a href="#" class="link">Подробнее о заказе</a>
								<div class="left">
									<a href="#" class="update">Повторить заказ</a>
									<a href="#" class="cansel">Отменить заказ</a>
								</div>
							</div>					
						</div>
					</div>
					<div class="order_status">
						<div class="name_status">Заказы в статусе <span class="green">Принят, ожидается оплата</span></div>
						<div class="order_item">
							<div class="name_order blue"><strong>Заказ №4 от 22.04.2019,</strong> 1 товар на сумму 4 499 руб</div>
							<div class="param">
								<div class="name_param">оплата <span></span></div>
								<div class="param_val">Счет №4/1 от 22.04.2019, Наличные курьеру </div>
								<div class="pay">Оплачено</div>
								<div class="param_val">Сумма к оплате по счету:    <strong>4 499 руб.</strong></div>
								<a href="#" class="link">Сменить способ оплаты</a>
							</div>	
							<div class="param">
								<div class="name_param">доставка <span></span></div>
								<ul>
									<li>Отгрузка №4/2 <span class="shipped">Отгружено</span></li>
									<li>Статус отгрузки: <strong>Ожидает обработки</strong></li>
									<li>Служба доставки: <strong>Без доставки</strong> </li>
								</ul>
							</div>
							<div class="order_item_bot">
								<a href="#" class="link">Подробнее о заказе</a>
								<div class="left">
									<a href="#" class="update">Повторить заказ</a>
									<a href="#" class="cansel">Отменить заказ</a>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class="lk_tab_body" id="tab-3">
					<div class="order_status">
						<div class="name_status">Заказы в статусе <span class="done">Выполнен</span></div>
						<div class="order_item">
							<div class="name_order"><strong>Заказ №4 от 22.04.2019,</strong> 1 товар на сумму 4 499 руб</div>
							<div class="date"><span>Заказ выполнен</span>  22.04.2019</div>
							<div class="order_item_bot">
								<a href="#" class="link">Подробнее о заказе</a>
								<div class="left">
									<a href="#" class="update">Повторить заказ</a>
								</div>
							</div>					
						</div>
						<div class="order_item">
							<div class="name_order"><strong>Заказ №4 от 22.04.2019,</strong> 1 товар на сумму 4 499 руб</div>
							<div class="date"><span>Заказ выполнен</span>  22.04.2019</div>
							<div class="order_item_bot">
								<a href="#" class="link">Подробнее о заказе</a>
								<div class="left">
									<a href="#" class="update">Повторить заказ</a>
								</div>
							</div>					
						</div>
					</div>
					<div class="order_status">
						<div class="name_status">Заказы в статусе <span class="yellow">Ожидание</span></div>
						<div class="order_item">
							<div class="name_order"><strong>Заказ №4 от 22.04.2019,</strong> 1 товар на сумму 4 499 руб</div>
							<div class="date"><span>Заказ выполнен</span>  22.04.2019</div>
							<div class="order_item_bot">
								<a href="#" class="link">Подробнее о заказе</a>
								<div class="left">
									<a href="#" class="update">Повторить заказ</a>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

include _footer.jade