include _header.jade

	<div class="slider_main_page">
		<div class="block_inner">
			<div class="title">Чаще всего покупают</div>
			<div class="inner">
				<div class="slider_top">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p1.png" type="image/svg+xml"><img src="files/p1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p2.png" type="image/svg+xml"><img src="files/p2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="sale">Скидка</div>
								<div class="new">новинка</div>
							</div>
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
							</div>
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/p3.png" type="image/svg+xml"><img src="files/p3.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>								
	<div class="gmp_block_wr">
		<div class="block_inner">
			<div class="icon">
				<picture><source srcset="files/g_icon.png" type="image/svg+xml"><img src="files/g_icon.png" width="150" height="115" alt=""></picture>
			</div>
			<div class="text_item">
				<a href="#">Вся продукция NOMI прошла государственную регистрацию и полностью безопасна для детей</a>
			</div>
			<div class="text_item">
				<a href="#">Производство косметики NOMI сертифицированно по международному стандарту GMP</a>
			</div>
			<div class="image">
				<picture><source srcset="files/g_img1.png" type="image/svg+xml"><img src="files/g_img1.png" alt=""></picture>
			</div>
			<div class="image">
				<picture><source srcset="files/g_img2.png" type="image/svg+xml"><img src="files/g_img2.png" alt=""></picture>
			</div>
		</div>
	</div>		
	<div class="preim_block_wr">
		<div class="block_inner">
			<div class="item">
				<div class="icon">
					<picture><source srcset="files/russia.svg" type="image/svg+xml"><img src="files/russia.svg" width="60" height="60" alt=""></picture>
				</div>
				<div class="text">Работаем по всей <br> России</div>
			</div>
			<div class="item">
				<div class="icon">
					<picture><source srcset="files/p2.svg" type="image/svg+xml"><img src="files/p2.svg" width="60" height="60" alt=""></picture>
				</div>
				<div class="text">Качественная <br>упаковка </div>
			</div>
			<div class="item">
				<div class="icon">
					<picture><source srcset="files/p3.svg" type="image/svg+xml"><img src="files/p3.svg" width="60" height="60" alt=""></picture>
				</div>
				<div class="text">Постоянно расширяющийся <br>ассортимент </div>
			</div>
			<div class="item">
				<div class="icon">
					<picture><source srcset="files/p4.svg" type="image/svg+xml"><img src="files/p4.svg" width="60" height="60" alt=""></picture>
				</div>
				<div class="text">Большой выбор <br> цветовой гаммы</div>
			</div>
		</div>
	</div>			
	<div class="for_block_left">
		<div class="block_inner">
			<div class="left">
				<div class="icon">
					<picture><source srcset="files/l-icon.svg" type="image/svg+xml"><img src="files/l-icon.svg" alt=""></picture>
				</div>
				<div class="image">
					<svg width="754" height="752" viewBox="0 0 754 752" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g filter="url(#filter0_d)">
						<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="55" y="55" width="644" height="642">
						<path d="M646.157 152.355C590.733 78.916 478.863 67.6425 429.856 71.1856C356.874 58.6235 293.94 31.5672 176.006 98.2422C58.0715 164.917 33.7442 330.155 71.2929 499.259C108.841 668.362 248.459 760.161 502.838 647.104C757.216 534.046 715.437 244.154 646.157 152.355Z" fill="#C4C4C4"/>
						</mask>
						<g mask="url(#mask0)">
						<rect x="-31" y="16" width="940" height="695" fill="url(#pattern0)"/>
						</g>
						</g>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="754" height="752" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="27.5"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image0" transform="translate(-0.0542064) scale(0.00125956 0.00170358)"/>
						</pattern>
						<image x="-50" y="0" id="image0" width="880" height="587" xlink:href="files/l1.jpg">
						</image>
						</defs>
					</svg>
				</div>
			</div>
			<div class="right">
				<div class="title">
					<div class="tit">Для губ</div>
					<a href="#" class="link">перейти в раздел</a>
				</div>
				<div class="inner">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="for_block_right">
		<div class="block_inner">
			<div class="left">
				<div class="icon">
					<picture><source srcset="files/ico.svg" type="image/svg+xml"><img src="files/ico.svg" alt=""></picture>
				</div>
				<div class="image">
					<svg width="803" height="798" viewBox="0 0 803 798" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g filter="url(#filter0_d1)">
						<mask id="mask01" mask-type="alpha" maskUnits="userSpaceOnUse" x="41" y="88" width="683" height="675">
						<path d="M516.531 124.128L417.039 97.1673C309.277 67.8573 195.335 115.51 140.375 212.759L73.2663 331.766C22.4261 421.791 33.8842 534.07 101.698 612.079C157.738 676.483 258.333 711.841 256.547 711.151C254.445 710.339 347.137 751.46 457.37 761.555C540.939 769.079 622.509 733.318 673.355 666.727C714.582 612.844 731.491 544.374 720.111 477.537L693.207 318.952C677.281 225.116 608.34 149.087 516.531 124.128Z" fill="#FAD8E8"/>
						</mask>
						<g mask="url(#mask01)">
						<rect x="-93.3086" y="66.3748" width="1074" height="716" fill="url(#pattern01)"/>
						</g>
						</g>
						<defs>
						<filter id="filter0_d1" x="-88" y="-55" width="987.972" height="959.336" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="27.5"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						<pattern id="pattern01" patternContentUnits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image01" transform="translate(0 -0.000250752) scale(0.000501505 0.000752257)"/>
						</pattern>
						<image id="image01" width="1994" height="1330" xlink:href="files/gg.png"/>
						</defs>
					</svg>
				</div>
			</div>
			<div class="right">
				<div class="title">
					<div class="tit">Для ногтей</div>
					<a href="#" class="link">перейти в раздел</a>
				</div>
				<div class="inner">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/g1.png" type="image/svg+xml"><img src="files/g1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/g2.png" type="image/svg+xml"><img src="files/g2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="for_block_left2">
		<div class="block_inner">
			<div class="left">
				<div class="icon">
					<picture><source srcset="files/ll2-ico.svg" type="image/svg+xml"><img src="files/ll2-ico.svg" alt=""></picture>
				</div>
				<div class="image">
					<img src="files/ggl.png" alt="">
				</div>
			</div>
			<div class="right">
				<div class="title">
					<div class="tit">Наборы</div>
					<a href="#" class="link">перейти в раздел</a>
				</div>
				<div class="inner">
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg1.png" type="image/svg+xml"><img src="files/lg1.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
					<div class="item_prod">
						<div class="image">
							<a href="#">
								<picture><source srcset="files/lg2.png" type="image/svg+xml"><img src="files/lg2.png" width="250" height="290" alt=""></picture>
							</a>
						</div>
						<div class="labels">
							<div class="label">
								<div class="rec">Рекомендуем</div>
								<div class="new">новинка</div>
							</div>
							
							<div class="reating all">5 / 5</div>
						</div>
						<div class="name">
							<a href="#">Лак для ногтей №03 Сладкая клубника </a>
						</div>
						<div class="prices">
							<div class="price">1 234 ₽</div>
							<div class="old_price"><span>2 034  ₽</span></div>
						</div>
						<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="form_site">
		<div class="block_inner">
			<div class="title">Для того, чтобы увидеть оптовые цены</div>
			<div class="subtitle">необхдоимо зарегистрироваться в качестве оптовика</div>
			<div class="inner">
				<form action="#">
					<label class="field email_ico">
						<input type="text">
						<span class="name_field">Ваша почта</span>
					</label>
					<button class="btn radius">Регистрация</button>
				</form>
			</div>
		</div>
	</div>
	<div class="news_block_wr">
		<div class="block_inner">
			<div class="title">Интересные статьи</div>
			<div class="inner">
				<div class="item_st">
					<a href="#">
						<picture><source srcset="files/st1.png" type="image/svg+xml"><img src="files/st1.png" alt=""></picture>
						<span class="text">
							<span class="body">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
							<span class="link">подробнее</span>
						</span>
					</a>
				</div>
				<div class="item_st">
					<a href="#">
						<picture><source srcset="files/st2.png" type="image/svg+xml"><img src="files/st2.png" alt=""></picture>
						<span class="text">
							<span class="body">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
							<span class="link">подробнее</span>
						</span>
					</a>
				</div>
				<div class="item_st">
					<a href="#">
						<picture><source srcset="files/st3.png" type="image/svg+xml"><img src="files/st3.png" alt=""></picture>
						<span class="text">
							<span class="body">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
							<span class="link">подробнее</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider_about_wr">
		<div class="block_inner">
			<div class="left_about">
				<div class="title">О компании</div>
				<div class="body">Добро пожаловать на сайт детской косметики NOMI! <br>Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту.Выбрали самых хороших производителей косметики и лаков для ногтей, которые разработали безопасные формулы для девочек.  И украсили всю нашу продукцию розочками, сделанными вручную, специально для Вас. Мы бережно и с любовью создали нашу коллекцию И очень рады, что наши  маленькие покупательницы и их мамы оценили нашу работу. Спасибо Вам.</div>
			</div>
			<div class="right_slider">
				<div class="rev_slider">
					<div class="item">
						<div class="title">
							<div class="name">Ульяна Лямина </div>
							<div class="image">
								<picture><source srcset="files/r1.png" type="image/svg+xml"><img src="files/r1.png" alt=""></picture>
							</div>
						</div>
						<div class="body">«Я очень рада, что посетила семинар именно этой компании, потому что могу зарабатывать сама, а не работать на кого-то другого. Для меня это было раньше только мечтой, но сейчас я в ней живу.»</div>
						<a href="#" class="link">Смотреть полностью</a>
						<div class="images">
							<picture><source srcset="files/r2.png" type="image/svg+xml"><img src="files/r2.png" alt=""></picture>
							<picture><source srcset="files/r3.png" type="image/svg+xml"><img src="files/r3.png" alt=""></picture>
						</div>
					</div>
					<div class="item">
						<div class="title">
							<div class="name">Ульяна Лямина </div>
							<div class="image">
								<picture><source srcset="files/r1.png" type="image/svg+xml"><img src="files/r1.png" alt=""></picture>
							</div>
						</div>
						<div class="body">«Я очень рада, что посетила семинар именно этой компании, потому что могу зарабатывать сама, а не работать на кого-то другого. Для меня это было раньше только мечтой, но сейчас я в ней живу.»</div>
						<a href="#" class="link">Смотреть полностью</a>
						<div class="images">
							<picture><source srcset="files/r2.png" type="image/svg+xml"><img src="files/r2.png" alt=""></picture>
							<picture><source srcset="files/r3.png" type="image/svg+xml"><img src="files/r3.png" alt=""></picture>
						</div>
					</div>
					<div class="item">
						<div class="title">
							<div class="name">Ульяна Лямина </div>
							<div class="image">
								<picture><source srcset="files/r1.png" type="image/svg+xml"><img src="files/r1.png" alt=""></picture>
							</div>
						</div>
						<div class="body">«Я очень рада, что посетила семинар именно этой компании, потому что могу зарабатывать сама, а не работать на кого-то другого. Для меня это было раньше только мечтой, но сейчас я в ней живу.»</div>
						<a href="#" class="link">Смотреть полностью</a>
						<div class="images">
							<picture><source srcset="files/r2.png" type="image/svg+xml"><img src="files/r2.png" alt=""></picture>
							<picture><source srcset="files/r3.png" type="image/svg+xml"><img src="files/r3.png" alt=""></picture>
						</div>
					</div>
					<div class="item">
						<div class="title">
							<div class="name">Ульяна Лямина </div>
							<div class="image">
								<picture><source srcset="files/r1.png" type="image/svg+xml"><img src="files/r1.png" alt=""></picture>
							</div>
						</div>
						<div class="body">«Я очень рада, что посетила семинар именно этой компании, потому что могу зарабатывать сама, а не работать на кого-то другого. Для меня это было раньше только мечтой, но сейчас я в ней живу.»</div>
						<a href="#" class="link">Смотреть полностью</a>
						<div class="images">
							<picture><source srcset="files/r2.png" type="image/svg+xml"><img src="files/r2.png" alt=""></picture>
							<picture><source srcset="files/r3.png" type="image/svg+xml"><img src="files/r3.png" alt=""></picture>
						</div>
					</div>
				</div>
				<div class="nav_slider">
					<div class="arrow_s">
						<div class="prev"></div>
						<div class="next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade