include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="order_page_wr">
	<div class="inner_page block_inner">
		<h1>Оформление заказа</h1>
		<form action="#">
			<div class="order_totals">
				<div class="order_totals_inner">
					<ul>
						<li>
							<div class="t_title">Товары (8)</div>
							<div class="tot_summ">34 567 руб</div>
						</li>
						<li>
							<div class="t_title">Скидка по акции</div>
							<div class="discon_summ">- 12 345 руб</div>
						</li>
						<li>
							<div class="t_title">Доставка</div>
							<div class="discon_summ">555 руб</div>
						</li>
						<li class="last_total">
							<div class="t_title">Итого:</div>
							<div class="discon_summ"><strong>34 567 ₽</strong></div>
						</li>
					</ul>
				</div>
				<div class="btn_right">
					<button class="btn">Оформить заказ</button>
				</div>
			</div>
			<h2>Регион доставки</h2>
			<div class="field_type">
				<div class="name_f">Тип плательщика:</div>
				<div class="field radio">
					<ul>
						<li>
							<label>
								<input type="radio" checked name="dd"><span></span>Физическое лицо
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="dd"><span></span>Юридическое лицо
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="col2-field">
				<div class="field select">
					<select name="name" id="names">
						<option value="Местоположение*">Местоположение*</option>
						<option value="Местоположение*">Местоположение*</option>
						<option value="Местоположение*">Местоположение*</option>
						<option value="Местоположение*">Местоположение*</option>
					</select>
				</div>
				<div class="field">
					<input type="text" required>
					<span class="name_field">Индекс*</span>
				</div>
			</div>
			<div class="field_text">Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"</div>
			<h2>Способы доставки <div class="bandge">555 руб</div></h2>
			<div class="field_radio">
				<div class="title_field_radio">Курьером 5 Post (Пятерочка) ПОСТАМАТ</div>
				<ul>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьером 5 Post (Пятерочка) ПОСТАМАТ</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" checked name="delivery">
							<span>Курьер Онлайн (Почта РФ)</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка CDEK</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка CDEK (авиа)</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка CDEK (КГТ)</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка CSE</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка TopDelivery</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставка СДТ</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Курьерская доставки день в день "Курьерист"</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Постоматы PickPoint</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Посылка Онлайн (Почта РФ)</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Почта РФ</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Самовывоз BOXBERRY</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Самовывоз CDEK</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Самовывоз CDEK (авиа)</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="delivery">
							<span>Самовывоз TopDelivery</span>
						</label>
					</li>
				</ul>
			</div>
			<h2>Оплата</h2>
			<div class="field_type type_order">
				<div class="name_f">Тип плательщика:</div>
				<div class="field radio">
					<ul>
						<li>
							<label>
								<input type="radio" checked name="or"><span></span>Безналачиная 
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="or"><span></span>Картой
							</label>
						</li>
					</ul>
				</div>
			</div>
			<h2>Данные получателя</h2>
			<div class="data_p">
				<div class="col_2">
					<div class="field">
						<input type="text" class="calendar" required>
						<span class="name_field">Дата доставки *</span>
					</div>
					<div class="field select">
						<select name="name" id="names">
							<option value="Местоположение*">Интервал доставки *</option>
							<option value="Местоположение*">123</option>
							<option value="Местоположение*">456*</option>
							<option value="Местоположение*">4789*</option>
						</select>
					</div>
				</div>
				<div class="col_3">
					<div class="field">
						<input type="text" required>
						<span class="name_field">Фамилия *</span>
					</div>
					<div class="field">
						<input type="text" required>
						<span class="name_field">Имя * </span>
					</div>
					<div class="field">
						<input type="text" required>
						<span class="name_field">Отчество</span>
					</div>
				</div>
				<div class="col_2_50">
					<div class="field">
						<input type="text" required>
						<span class="name_field">E-Mail *</span>
					</div>
					<div class="field">
						<input type="text" required>
						<span class="name_field">Телефон * </span>
					</div>
				</div>
				<div class="col_3 c3_50">
					<div class="field">
						<input type="text">
						<span class="name_field">Улица</span>
					</div>
					<div class="field">
						<input type="text">
						<span class="name_field">Дом</span>
					</div>
					<div class="field">
						<input type="text">
						<span class="name_field">Строение</span>
					</div>
				</div>
				<div class="col_4">
					<div class="field">
						<input type="text">
						<span class="name_field">Квартира/офис</span>
					</div>
					<div class="field">
						<input type="text">
						<span class="name_field">Этаж</span>
					</div>
					<div class="field">
						<input type="text">
						<span class="name_field">Подъезд</span>
					</div>
					<div class="field">
						<input type="text">
						<span class="name_field">Код домофона</span>
					</div>
				</div>
				<div class="col_2_50">
					<div class="field">
						<textarea name="comment" cols="30" rows="10"></textarea>
						<span class="name_field">E-Комментарий к доставке</span>
					</div>
					<div class="field">
						<textarea name="comment2" cols="30" rows="10"></textarea>
						<span class="name_field">Комментарий для упаковки</span>
					</div>
				</div>
				<div class="field checkbox">
					<label>
						<input type="checkbox" checked> <ins></ins><span>Согласен с <a href="#" class="police">политикой конфиденциальности</a></span>
					</label>
				</div>
			</div>
		</form>
	</div>
</div>

include _footer.jade