include _header.jade
<div class="auth_page">
	<div class="inner_page block_inner">
		<div class="title_h1">
			<h1>Пароль</h1>
		</div>
		<div class="auth_inner">
			<div class="auth_left">
				<img src="files/reg2.png" alt="">
			</div>
			<div class="auth_right">
				<form action="#">
					<div class="field required">
						<input type="password" required>
						<span class="name_field">Новый пароль</span>
					</div>
					<div class="field required">
						<input type="password" required>
						<span class="name_field">Повторите пароль</span>
					</div>
					<button class="btn radius">Сохранить</button>
					<div class="btn_cansel">Отмена</div>
				</form>
			</div>
		</div>
	</div>
</div>

include _footer.jade