include _header.jade
<div class="auth_page">
	<div class="inner_page block_inner">
		<div class="title_h1">
			<h1>Регистрация</h1>
		</div>
		<div class="auth_inner">
			<div class="auth_left">
				<img src="files/reg1.png" alt="">
			</div>
			<div class="auth_right">
				<form action="#">
					<div class="field radio">
						<ul>
							<li>
								<label>
									<input type="radio" name="dd"><span></span>Физическое лицо
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="dd"><span></span>Юридическое лицо
								</label>
							</li>
						</ul>
					</div>
					<div class="field required">
						<input type="text" required>
						<span class="name_field">Имя * </span>
					</div>
					<div class="field required">
						<input type="text" required>
						<span class="name_field">Название компаниии * </span>
					</div>
					<div class="field required">
						<input type="text" required>
						<span class="name_field">ИНН *</span>
					</div>
					<div class="field required">
						<input type="email" required>
						<span class="name_field">E-mail</span>
					</div>
					<div class="field required">
						<input type="text" required>
						<span class="name_field">Телефон * </span>
					</div>
					<div class="field required">
						<input type="password" required>
						<span class="name_field">Пароль *</span>
					</div>
					<div class="field required">
						<input type="password" required>
						<span class="name_field">Подтверждение пароля *</span>
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox" checked> <ins></ins><span>Согласен с <a href="#" class="police">политикой конфиденциальности</a></span>
						</label>
					</div>
					<button class="btn radius">Зарегистрироваться</button>
				</form>
			</div>
		</div>
	</div>
</div>

include _footer.jade