include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="h1_title block_inner search_page">
	<h1>Товары по запросу «блеск»</h1>
	<div class="sear_result">Найдено: 12</div>
</div>	
<div class="products_wr search_page">
	<div class="block_inner">
		<form action="#" class="sear_page_block">
			<div class="field">
				<input type="text" value="Блеск">
			</div>
			<input type="reset" class="clear" value="">
			<input type="submit" class="btn_s" value="">
		</form>
	</div>
	<div class="block_inner">
		<div class="inner_product">	
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
			<div class="item_prod">
				<div class="image">
					<a href="#">
						<picture><source srcset="files/f1.png" type="image/svg+xml"><img src="files/f1.png" width="250" height="290" alt=""></picture>
					</a>
				</div>
				<div class="labels">
					<div class="label">
						<div class="rec">Рекомендуем</div>
						<div class="new">новинка</div>
					</div>
					
					<div class="reating all">5 / 5</div>
				</div>
				<div class="name">
					<a href="#">Лак для ногтей №03 Сладкая клубника </a>
				</div>
				<div class="prices">
					<div class="price">1 234 ₽</div>
					<div class="old_price"><span>2 034  ₽</span></div>
				</div>
				<div class="btn btn_buy">ДОБАВИТЬ в корзину</div>
			</div>
		</div>
		<ul class="page_number">
			<li>
				<a href="#" class="btn_page">Назад</a>
			</li>
			<li>
				<span>1</span>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li><div class="dotted">...</div></li>
			<li>
				<a href="#">15</a>
			</li>
			<li>
				<a href="#" class="btn_page">Вперед</a>
			</li>
		</ul>									
	</div>
</div>														
include _footer.jade