include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="stati_page_wr">
	<div class="inner_page block_inner">
		<h1>БлоГ</h1>
		<div class="stati_block_inner">
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl1.jpg" type="image/svg+xml"><img src="files/bl1.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl2.jpg" type="image/svg+xml"><img src="files/bl2.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl3.jpg" type="image/svg+xml"><img src="files/bl3.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl4.jpg" type="image/svg+xml"><img src="files/bl4.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl5.jpg" type="image/svg+xml"><img src="files/bl5.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl6.jpg" type="image/svg+xml"><img src="files/bl6.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl7.jpg" type="image/svg+xml"><img src="files/bl7.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl8.jpg" type="image/svg+xml"><img src="files/bl8.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
			<div class="item_bl">
				<a href="#">
					<picture><source srcset="files/bl9.jpg" type="image/svg+xml"><img src="files/bl9.jpg" width="361" height="366" alt=""></picture>
					<span class="text">
						<span class="date">10. 07.2021</span>
						<span class="title">Заголовок новости или акции. Есть над чем задуматься: независимы</span>
						<span class="body">Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту ... </span>
						<span class="link">подробнее</span>
					</span>
				</a>
			</div>
		</div>
		<ul class="page_number">
			<li>
				<a href="#" class="btn_page">Назад</a>
			</li>
			<li>
				<span>1</span>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li><div class="dotted">...</div></li>
			<li>
				<a href="#">15</a>
			</li>
			<li>
				<a href="#" class="btn_page">Вперед</a>
			</li>
		</ul>			
	</div>
</div>

include _footer.jade