include _header.jade
<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span><a href="#">Каталог</a><span> > </span><a href="#">Подкатегория</a><span> > </span>Название товара
</div>
<div class="h1_title block_inner inner_page_text">
	<h1>отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным</h1>
	<div class="date">10. 07.2021</div>
</div>	
<div class="inner_page_text_wr">
	<div class="block_inner">
		<div class="image">
			<picture><source srcset="files/img_b.jpg" type="image/svg+xml"><img src="files/img_b.jpg" width="1170" height="531" alt=""></picture>
		</div>
		<div class="text_block">
			<p><strong style="color: #E966A0;">Добро пожаловать на сайт детской косметики NOMI!  Н4</strong><br><br>Каждой маленькой девочке нужен праздник. И каждая маленькая девочка хочет быть похожей на свою маму.Мы придумали, как подарить мечту.Выбрали самых хороших производителей косметики и лаков для ногтей, которые разработали безопасные формулы для девочек.  И украсили всю нашу продукцию розочками, сделанными вручную, специально для Вас. Мы бережно и с любовью создали нашу коллекцию И очень рады, что наши  маленькие покупательницы и их мамы оценили нашу работу. Спасибо Вам.   </p>
		</div>
		<div class="image_block">
			<div class="left">
				<h3>Заголовок Н3</h3>
				<ul>
					<li>Мы вынуждены отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям.</li>
					<li>Внезапно, сделанные на базе интернет-аналитики выводы могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. </li>
					<li>Предварительные выводы неутешительны: существующая теория однозначно фиксирует необходимость инновационных методов управления процессами.</li>
				</ul>
			</div>
			<div class="right">
				<picture><source srcset="files/img_s.jpg" type="image/svg+xml"><img src="files/img_s.jpg" width="531" height="323" alt=""></picture>
			</div>
		</div>
		<div class="warning">
			<p>Мы вынуждены отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям. Внезапно, сделанные на базе интернет-аналитики выводы могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. </p>
		</div>
		<h2>Заголовок Н2</h2>
		<ul class="list_ul">
			<li>Мы вынуждены отталкиваться от того, что граница обучения кадров создаёт предпосылки для системы обучения кадров, соответствующей насущным потребностям.</li>
			<li>Внезапно, сделанные на базе интернет-аналитики выводы могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. </li>
			<li>Предварительные выводы неутешительны: существующая теория однозначно фиксирует необходимость инновационных методов управления процессами.</li>
		</ul>
	</div>
</div>
<div class="slider_line">
	<div class="item">
		<a href="#">
			<picture><source srcset="files/line1.jpg" type="image/svg+xml"><img src="files/line1.jpg" width="612" height="506" alt=""></picture>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<picture><source srcset="files/line2.jpg" type="image/svg+xml"><img src="files/line2.jpg" width="436" height="506" alt=""></picture>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<picture><source srcset="files/line3.jpg" type="image/svg+xml"><img src="files/line3.jpg" width="630" height="506" alt=""></picture>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<picture><source srcset="files/line4.jpg" type="image/svg+xml"><img src="files/line4.jpg" width="630" height="506" alt=""></picture>
		</a>
	</div>
</div>
include _footer.jade