include _header.jade

<div class="path_block block_inner">
	<a href="/">Главная</a><span> > </span>Корзина
</div>
<div class="cart_thank_page">
	<div class="inner_page block_inner">
		<div class="title">Спасибо за покупку!</div>
		<div class="order_number">Заказ №123456</div>
		<div class="date">от 10. 07.2021</div>
		<div class="inner">
			<div class="icon">
				<img src="files/image_t.png" alt="">
			</div>
			<div class="body">
				<ul class="params">
					<li>
						<span>Вариант доставки:</span>
						<strong>Доставка курьером</strong>
					</li>
					<li>
						<span>Сумма заказа:</span>
						<strong>16 471 руб.</strong>
					</li>
					<li>
						<span>Телефон:</span>
						<strong>+7 (444) 444-44-44</strong>
					</li>
				</ul>
				<div class="text">
					<div class="name">Если возникли вопросы, Вы можете связаться с нами: </div>Время работы: ПН-ПТ с 10:00 до 18:00ч. <br>Телефон: +7 (495) 223 70 05, доб .145 <br>E-mail: <a href="mailto:nomicosmetics@mail.ru">nomicosmetics@mail.ru</a> "
				</div>
			</div> 
		</div>	
		<div class="twxt_b">Просмотреть статус заказа Вы можете в <a href="#">личном кабинете.</a></div>
	</div>
</div>
include _footer.jade